<VirtualHost *:80>
    DocumentRoot {{ tt_rss_install_dir }}
    ServerName {{ tt_rss_fqdn }}
{% if tt_rss_https_mode == 'selfsigned' %}
    # Redirect all HTTP requests to HTTPS
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
{% endif %}
</VirtualHost>

{% if tt_rss_https_mode == 'letsencrypt' %}
MDomain {{ tt_rss_fqdn }}
{% endif %}

<VirtualHost *:443>
  DocumentRoot {{ tt_rss_install_dir }}
  ServerName  {{ tt_rss_fqdn }}
  SSLEngine on
{% if tt_rss_https_mode == 'selfsigned' %}
  SSLCertificateFile /etc/ssl/certs/{{ tt_rss_fqdn }}.crt
  SSLCertificateKeyFile /etc/ssl/private/{{ tt_rss_fqdn }}.key
{% endif %}

  <Directory {{ tt_rss_install_dir }}/cache>
      Require all denied
  </Directory>

  <Directory  {{ tt_rss_install_dir }}>
      <Files "config.php">
          Require all denied
      </Files>
      Header always set Content-Security-Policy "script-src 'self' 'unsafe-inline' 'unsafe-eval'; frame-ancestors 'self'"
  </Directory>

</VirtualHost>
