<VirtualHost *:80>
    DocumentRoot {{ nextcloud_install_dir }}
    ServerName {{ nextcloud_fqdn }}
{% if nextcloud_https_mode == 'selfsigned' %}
    # Redirect all HTTP requests to HTTPS
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
{% endif %}
</VirtualHost>

{% if nextcloud_https_mode == 'letsencrypt' %}
MDomain {{ nextcloud_fqdn }}
{% endif %}

<VirtualHost *:443>
  DocumentRoot {{ nextcloud_install_dir }}
  ServerName  {{ nextcloud_fqdn }}
  SSLEngine on
{% if nextcloud_https_mode == 'selfsigned' %}
  SSLCertificateFile /etc/ssl/certs/{{ nextcloud_fqdn }}.crt
  SSLCertificateKeyFile /etc/ssl/private/{{ nextcloud_fqdn }}.key
{% endif %}

  <Directory {{ nextcloud_install_dir }}>
    Require all granted
    AllowOverride All
    Options FollowSymLinks MultiViews
    <IfModule mod_dav.c>
      Dav off
    </IfModule>
  </Directory>

</VirtualHost>
