# netdata configuration
# You can download the running configuration of your netdata instance, using:
# curl http://localhost:19999/netdata.conf

[global]
   update every = {{ netdata_update_every }}
{% if netdata_disable_debug_log %}   debug log = none
{% endif %}
{% if netdata_disable_error_log %}   error log = none
{% endif %}
{% if netdata_disable_access_log %}   access log = none
{% endif %}
   page cache size = {{ netdata_dbengine_page_cache_size }}
   dbengine disk space = {{ netdata_dbengine_disk_space }}

[web]
   default port = 19999
   allow connections from = {{ netdata_allow_connections_from }}
   ssl key = /etc/ssl/netdata/netdata-key.pem
   ssl certificate = /etc/ssl/netdata/netdata-cert.pem
   enable gzip compression = no
   web files owner = root
   web files group = netdata
